body {
    margin: 0;
    padding: 80px 24px 30px 96px;
    background-color: rgb(248, 248, 248);
    font-family: Roboto, Arial;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}


@media (max-width: 390px) {
    .video-grid {
    grid-template-columns: 1fr;
    }

    .middle-section {
        display: none !important;
    }
}

@media (min-width: 390px) and (max-width: 665px) {
    .video-grid {
    grid-template-columns: 1fr 1fr;
    }

    .middle-section {
        display: none !important;
    }
}

@media (min-width: 665px) and (max-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
        }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        }
}







@media (min-height: 391px) and (max-height: 499px) {
    .sidebar-link {
        height: 54px;
    }
}

@media (min-height: 500px) and (max-height: 646px) {
    .sidebar-link {
        height: 74px;
    }
}

@media (min-height: 646px) {
    .sidebar-link {
        height: 100px;
    }

}